<% content_for :header do %>
  <h1><%= @environment[:title] %></h1>
  <%= link_to "Back", environments_path, :id => "backButton" %>
<% end %>

<% @environment[:instances].each do |instance| %>
  <ul>
    <li>
      <%= instance[:role] %>
    </li>
    <li>
      <%= image_tag("https://cloud.engineyard.com/#{instance[:status_icon]}") %>
      <%= instance[:status].titleize %>
    </li>
    <li>
      <%= instance[:size] %>
    </li>
    <li>
      <%= instance[:host] %>
    </li>
    <li>
      <%= instance[:log].collect{|l| content_tag :p, l, :style => "color: #999; font-size: 14px; margin: 10px 0;"}.join("") %>
    </li>
  </ul>
<% end %>