<html>
<head>
  <title>EY Cloud Mobile</title>
  <meta content='width = device-width' name='viewport'/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <%= stylesheet_link_tag "iphone" %>
  <script type="text/javascript">
    function clickclear(thisfield, defaulttext) {
      if (thisfield.value == defaulttext) {
        thisfield.value = "";
      }
    }
    function clickrecall(thisfield, defaulttext) {
      if (thisfield.value == "") {
        thisfield.value = defaulttext;
      }
    }
  </script>
</head>
<body>
<div id="header">
  <%= yield :header %>
</div>
<% if flash[:error].present? || flash[:notice].present? %>
  <ul>
    <% {:error =>"darkred", :notice => "darkgreen"}.each do |f_type, f_color| %>
      <% if flash[f_type].present? %>
        <li style="color: <%= f_color %>">
          <%= h flash[f_type] %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<%= yield %>
</body>
</html>
